{% extends 'base.html' %}
{% load static %}

{% block sub-title %}Calendar{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex" style="flex-direction: column;position:relative; height: 100%">
        <div class="card" style="position:relative; width:100%; height: 90%; background-color: transparent; border: none;">
            <div class="card-body p-0" style="position:relative; height: 100%">
                <div id="calendarLoader" class="">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="calendar"></div>
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-12 col-md-6 mt-3 mb-3">
                <div class="card mt-1 mb-1" id="reservations-quota-card" style="height: 100%">
                    <div class="card-body p-1" style="position:relative; height: 100%">
                        <h5 class="card-title" style="color: #000000;">Used Business Hours Quota</h5>

                        <!-- Loader -->
                        <div id="quota-content-loader" style="text-align: center; margin-top: 20px;">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>

                        <!-- Content -->
                        <div id="quota-content" class="row justify-content-start" style="display: none;">
                            <div class="col-12 col-md-6">
                                <span style="font-size: 10pt;font-weight: 700;">
                                    User main quota:
                                    <span id="user-main-quota" style="font-weight: 400;">0/0</span>
                                </span>
                            </div>
                            <div class="col-12 col-md-6">
                                <span style="font-size: 10pt;font-weight: 700;">
                                    User reserve quota:
                                    <span id="user-reserve-quota" style="font-weight: 400;">0/0</span>
                                </span>
                            </div>
                            <div class="col-12 col-md-6">
                                <span style="font-size: 10pt;font-weight: 700;">
                                    Villa main quota:
                                    <span id="total-main-quota" style="font-weight: 400;">0/0</span>
                                </span>
                            </div>
                            <div class="col-12 col-md-6">
                                <span style="font-size: 10pt;font-weight: 700;">
                                    Villa reserve quota:
                                    <span id="total-reserve-quota" style="font-weight: 400;">0/0</span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-3 mb-3">
                <div class="card mt-1 mb-1" id="legend-card" style="height: 100%">
                    <div class="card-body p-1" style="position:relative; height: 100%">
                        <div class="row justify-content-start">
                            <div class="col-12 col-md-6">
                                <i class="fa-solid fa-square" style="color: green;"></i>
                                <span style="font-size: 10pt">Match open for main players</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <i class="fa-solid fa-square" style="color: yellow;"></i>
                                <span style="font-size: 10pt">Match open for reserve players</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <i class="fa-solid fa-square" style="color: red;"></i>
                                <span style="font-size: 10pt">Match complete</span>
                            </div>
                            <div class="col-12 col-md-6">
                                <i class="fa-solid fa-square"  style="background-color: #000; color: #000;"></i>
                                <span style="font-size: 10pt">No match</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script>
        // Global Vars
        let modal;
        let calendar;
        let TogglePlayerReservationURL = "{% url 'toggle-player-reservation' %}";
        let UserReservationQuotaURL = "{% url 'user-reservation-quota' %}";
    </script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

