<!-- user_profile.html -->
{% extends 'base.html' %}

{% block sub-title %}Rules{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%; position: relative;">
        <h1 class="text-center">Rules</h1>

        <div class="row d-flex justify-content-center  align-items-center mb-2" style="max-height: 90%; overflow: auto;">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card" style="position:relative; min-height: fit-content; max-height: 70vh;overflow: auto;">
                    <div class="card-body p-2" style="position:relative;">
                        <ul>
                            <li>
                                The available slots per week (saturday and sunday No playing from 9:00-10:00AM, that’s why they are in black).
                            </li>
                            <li>
                                users can only reserve 48h in advance.
                            </li>
                            <li>
                                Busy hour's slots are the last 3 slots each day.
                            </li>
                            <li>
                                Each user has quota for only 2 playing times per week during busy hours, however can play during non-busy hours or be reserve for both busy hours & non-busy slots without limitation.
                            </li>
                            <li>
                                Total user & sub users has quota for only 4 playing times per week during busy hours, however can play during non-busy hours or be reserve for both busy hours & non-busy slots without limitation.
                            </li>
                            <li>
                                Each match could have 4 main players and 4 reserve players based on users quota as mentioned above, each user can only select/unselect slot for him/herself (No user or sub user should be able to allowed to modify for other users).
                            </li>
                            <li>
                                Match should close 30 minutes before its playing time in case there are completed players which mean no changes are allowed, however match keep open if there are no completed 4 main players.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
