{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100%;">
        <div class="card shadow" style="width: 100%; max-width: 400px;">
            <div class="card-body">
                <h5 class="card-title text-center">Reset Default Password</h5>

                    <form method="POST" action="{% url 'change-password' %}">
                        {% csrf_token %}

                        <div class="form-group mb-2">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" required>
                        </div>

                        <div class="form-group mb-2">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Re-enter new password" required>
                        </div>

                        <!-- Display errors for the password fields -->
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <button type="submit" class="btn btn-primary btn-dark mb-1" style="width: 100%">Change Password</button>
                        <a href="{% url 'logout' %}" class="btn btn-primary btn-dark" style="width: 100%">Logout</a>
                    </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordField = document.getElementById('password');
            const confirmPasswordField = document.getElementById('confirm_password');
            const form = document.querySelector('form');

            form.addEventListener('submit', function (e) {
                if (passwordField.value !== confirmPasswordField.value) {
                    e.preventDefault(); // Prevent form submission
                    showToast('Passwords do not match. Please try again.', 'danger');
                }
            });
        });
    </script>
{% endblock %}