.fc-green {
    background-color: #8fdf82 !important;
}

.fc-yellow {
    background-color: yellow !important;
}

.fc-red {
    background-color: red !important;
}

.fc-timegrid-slot .fc-timegrid-slot-label {
    color: black;
}

#calendar {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0 !important;
}

.fc-event-custom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}

.fc .fc-timegrid-slot {
    border-bottom: 0px;
    height: 3em;
}

.d-block {
    display: block !important;
    visibility: visible;
    opacity: 1;
}

.d-none {
    display: none !important;
    visibility: hidden;
    opacity: 0;
}

#calendarLoader {
    position: fixed; /* Ensure it is above other elements */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    z-index: 9999; /* Ensure it is above other content */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: background overlay */
    padding: 1rem; /* Optional: add some padding */
    border-radius: 0.5rem; /* Optional: rounded corners */
    display: none; /* Default hidden */
}

.fc-col-header-cell-cushion {
    color: #000000;
}

.fc-toolbar-title {
    font-weight: 900;
}

.fc-timegrid-slot-label-cushion {
    font-weight: 600;
}

#legend-card {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: transparent;
}

#reservations-quota-card {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: transparent;
}